.node {
  stroke: black;
  stroke-width: 1.25px;
  stroke-opacity: 1;
}

.link {
  stroke: #999;
  stroke-opacity: 0.75;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.filters {
/*    text-align: center;  */
    margin-bottom: 20px;
    margin-top: -30px;
}

.myButton {
    top: 50%;
}

.viz {
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 10;
}

section {
    display: inline-block;
    float: left;
    width: 350px;
    height: 900px;
    background-color: lightgray;
    position: absolute;
    border-radius: 7px;
    z-index: 10;
    margin-left: -375px;
}

.ngolegend {
    width: 200px; 
}

.academialegend {
    width: 90px; 
}

.commonwealthlegend {
    width: 170px; 
}

.federallegend {
    width: 75px; 
}

.militarylegend {
    width: 75px; 
}

.item { 
    background-color: white;
    border-radius: 5px; 
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    z-index: 10;
}

.item:hover {
    cursor: pointer;    
}

.item:hover, .item.gray { background-color: #eeecec; }